################# BD
oracledb>=2.4.0

################# ML & Embeddings
numpy>=1.26
torch>=2.2.0
transformers>=4.48.0
accelerate>=1.1.0
sentencepiece>=0.2.0
sacremoses>=0.1.1
tqdm>=4.66.0

################# PDF y OCR
pypdf>=4.0
pymupdf>=1.24
pytesseract>=0.3.10
pillow>=10.0
